@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* general variables */
  --boxShadow: 0 0 5px rgb(250, 234, 230);
  --boxShadow2: 0px 0px 50px rgba(150, 150, 150, 0.3);
  --transition: all 0.5s linear;
  --border: 2px solid rgb(133, 238, 5);
  --border2: 2px solid rgb(245, 87, 14);
  --border3: 2px solid rgb(22, 166, 245);

  /* variables for this project */
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Light-grayish-cyan);
  display: grid;
  font-family: "Space Mono", "Open Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
  place-items: center;
}

.container {
  background-color: var(--Light-grayish-cyan);
  margin: 1rem 0 10rem;
  padding-top: 2rem;
}

.logo {
  display: block;
  margin: 2rem auto;
}

.sections {
  background: var(--White);
  border-radius: 1.3rem 1.3rem 0 0;
  padding: 1rem;
  transition: var(--transition);
}

.tips-section * {
  display: block;
}

.form-group:not(.form-group.custom-form) {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 1rem 0 2rem;
  position: relative;
}

.input {
  background: var(--Very-light-grayish-cyan);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: "Space Mono";
  font-size: 1.5rem;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: right;
}

.icon-dollar,
.icon-person {
  bottom: 0.7rem;
  left: 1rem;
  position: absolute;
  width: 1rem;
}

.tips {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0 2rem;
}

.btn {
  align-items: center;
  background-color: var(--Very-dark-cyan);
  border-radius: 0.5rem;
  border: none;
  color: var(--White);
  cursor: pointer;
  display: flex;
  font-family: "Space Mono";
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  outline: none;
  padding: 0.8rem 3rem;
}

/* selected tip percent */
.selected.btn {
  background-color: var(--Strong-cyan);
}
/* end */

.custom-btn {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  padding-right: 1rem;
  text-align: right;
  width: 100%;
}

.custom-btn:hover {
  background: var(--Very-light-grayish-cyan);
}

.custom-btn::placeholder {
  color: var(--Very-dark-cyan);
}

.custom-label {
  position: relative;
}

.custom-label .error-msg {
  position: absolute;
  right: 0;
  top: 0.3rem;
}

.persons-label,
.bill-label {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.form-group :is(.invalid, .invalid:focus) {
  outline: 1.5px solid #f12144;
}

.error-msg {
  color: #f12144;
  font-style: italic;
}

/* reset section */
.reset-section {
  background: var(--Very-dark-cyan);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 1rem;
}

.pricing {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.pricing p {
  color: var(--White);
  white-space: nowrap;
}

.pricing p:last-of-type {
  color: var(--Grayish-cyan);
}

.pricing h1 {
  color: var(--Strong-cyan);
}

.reset-section .btn {
  background-color: var(--Strong-cyan);
  letter-spacing: 0.09rem;
  text-transform: uppercase;
}

.btn:hover {
  background: hsl(180, 90%, 92%);
  color: var(--Very-dark-cyan);
}

.input:focus {
  outline: 2px solid var(--Strong-cyan);
}

/* media query */
@media screen and (min-width: 50rem) {
  .sections {
    border-radius: 0.7rem;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem 0;
    max-width: 80rem;
    transition: var(--transition);
  }

  .tips-section {
    padding: 0 2rem;
  }

  .tips {
    grid-template-columns: repeat(3, 1fr);
  }

  .reset-section .btn {
    margin-top: 7rem;
  }

  .pricing h1 {
    font-size: 2.5rem;
  }
}

/* footer styles */
.my-profile {
  align-items: center;
  background-color: var(--Very-dark-cyan);
  color: white;
  display: flex;
  font-size: 14px;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.my-profile > a {
  cursor: pointer;
  color: var(--Strong-cyan);
  text-decoration: none;
}

.my-profile-icons a {
  cursor: pointer;
  color: var(--White);
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 45rem) {
  .my-profile {
    font-size: 12px;
  }

  .my-profile-icons a:first-of-type,
  .my-profile-icons a:last-of-type {
    display: none;
  }
}

@media screen and (min-width: 45rem) {
  .my-profile {
    position: fixed;
    bottom: 0;
  }
}
